* {
    /*color:#FFFFFF;*/
    /*background-color:#800000*/
}
h1 {
    font-family: 'Nosifer', cursive;
    color: #800000;
    text-align: center
}
.description {
    font-family: 'Frijole', cursive;
    margin-left:10px;
    margin-right:200px;
    margin-bottom:80px;
    padding-right:78px;
    padding-left:45px;
}

#inputs {
    /*border: 5px dotted yellow;*/
}

#queens{
    width: 700px;
    height: 500px;
}

#angels{
    width: 500px;
    height: 600px;
    
}













